@model IEnumerable<TheRideYourRent.Models.Return>

@{
    ViewData["Title"] = "Index";
}

<h1>Returns:</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Car Number
            </th>
            <th>
                Inspector
            </th>
            <th>
                Driver
            </th>
            <th>
                Return Date
            </th>
            <th>
                Elapsed Date
            </th>
            <th>
                Fine
            </th>
            <th>
                Car Make
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarNoNavigation.CarNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InspectorNoNavigation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Driver.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ElapsedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Make.Description)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ReturnId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

